/* =====
   GLOBAL 
   =====*/

:root {
  /* Styling variables */
  --title-font: 'Sofia', serif;
  --main-font: 'Montserrat', sans-serif;
}

body, body[data-theme="light"] {
  --highlight-color: #66bfbf;
  --main-bg: #fff;
  --secondary-color: #eaf6f6;
  --font-color: #40514e;
  --clouds: url("../../public/img/cloud.png");
}

body[data-theme="dark"] {
  --highlight-color: #66bfbf;
  --main-bg: #2c3333;
  --secondary-color: #395b64;
  --font-color: #fff;
  --clouds: url("../../public/img/cloud_stars.png");
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  color: var(--font-color);
  margin: 0;
  text-align: center;
  background-color: var(--main-bg);
  font-family: var(--main-font);
  font-size: 1rem;
}

.separator {
  border-color: #b2b2b2;
  border-style: solid none none;
  border-width: 3px;
  width: 10%;
  margin: auto;
  margin-top: 10px;
}

.profile hr {
  margin-top: 50px;
}

.active:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 25%;
  border-bottom: 1px solid var(--font-color);
}

/* ======
   NAVBAR 
   ======*/
.navbar {
  text-align: center;
  top: 0;
  padding-right: 20px;
  color: var(--font-color);
  background-color: var(--secondary-color);
  font-size: 1.5rem;
  padding-bottom: 30px;
}

.nav-link {
  text-align: center;
  color: var(--font-color);
}

.nav-link:active, .nav-link:focus {
  color: var(--font-color);
}

.nav-link:hover, a:hover {
  color: var(--highlight-color);
}

/* Light/dark mode toggle */
.mode-icon {
  color: #f9d71c;
  margin-left: 50px;
  border-style: solid;
  border-radius: 100%;
  border-color: grey;
  width: 60px;
  height: 60px;
  background: none;
}

.mode-icon:hover {
  color: #f9d71c;
}

.mode-icon:focus {
  outline: none;
  color: #f9d71c;
}

.mode-text-container {
  text-align: center;
  margin-top: 10px;
}

.mode-text {
  color: #dcbb06;
  font-size: 1rem;
}

/* =====
   TITLES 
   =====*/
.main-title {
  font-size: 5.625rem;
  font-family: var(--title-font);
  margin: 50px auto 0 auto;
}

.section-title, .sub-title {
  font-family: var(--main-font);
  color: var(--highlight-color);
}

.section-title {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

p {
  line-height: 2;
}

#footer-link:visited {
  color: blue;
}

/* ==========
   CONTAINERS 
   ==========*/
.top-container {
  position: relative;
  background-color: var(--secondary-color);
  padding: 0;
  margin-bottom: -20px;
  z-index: 1000;
}

.middle-container {
  padding: 0;
  padding-top: 20px;
}

.bottom-container {
  padding: 50px 0 20px;
  background-color: var(--secondary-color);
}

.wrapper {
  background-color: var(--secondary-color);
}

/* =========
   HOME PAGE 
   =========*/
/* Intro */
.intro {
  margin: auto;
}

/* Clouds */
.cloud {
  position: absolute;
  background-image: var(--clouds);
}

.top-cloud {
  right: 300px;
}

.bottom-cloud {
  left: 300px;
  top: 300px;
}

.profile {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Skills */
.skill-row {
  width: 50%;
  margin: auto;
  margin-bottom: 150px;
  text-align: left;
}

.skill-row img {
  width: 25%;
}

.left-img {
  float: left;
  margin-right: 20px;
}

.right-img {
  float: right;
  margin-left: 20px;
}

/* Contact */
.contact-me {
  margin: 100px 0;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.footer-link {
  font-family: var(--main-font);
  margin: 10px 20px;
  text-decoration: none;
  font-weight: bold;
}

.copyright {
  color: var(--highlight-color);
  font-size: 0.75rem;
  padding: 20px 0;
}

/* =============
   PROJECTS PAGE 
   =============*/
.header {
  padding-bottom: 10px;
}

.projects {
  border-radius: 1%;
  padding: 0;
}

.project {
  text-align: center;
  padding: 3%;
}

.project hr {
  border-color: #e5e5e5;
  width: 10%;
  margin-bottom: 20px;
}

.proj-link i {
  transition: all .5s ease-out;
}

.proj-link i:hover {
  transform: scale(1.1);
}

/* Alternating background styling */
.bg-1, .bg-1 i {
  background-color: #6e918c;
}

.bg-1, .bg-1 i, .bg-1 .caption {
  color: #f4f7f5;
}

.bg-1 .section-title, .bg-1 .sub-title {
  color: #f4f7f5;
  text-shadow: 0px 1px #689e9e;
}

.bg-1 hr {
  border-color: #fff;
}

.bg-2, .bg-2 i {
  background-color: #f4f7f5;
}

.bg-2, .bg-2 i, .bg-2 .caption {
  color: black;
}

.bg-2 .section-title, .bg-2 .sub-title {
  color: #2f4747;
  text-shadow: 0px 1px #689e9e;
}

.bg-2 hr {
  border-color: black;
}

.other-proj {
  padding: 2px;
}

.other-proj .project {
  height: 450px;
  font-size: 0.8rem;
}

.other-proj .section-title, .other-proj .sub-title {
  font-size: 1.5rem;
}

.other-proj .project, .other-proj .section-title, .other-proj .sub-title, .other-proj i, .other-proj hr {
  background-color: var(--main-bg);
  color: var(--font-color);
}

.other-proj hr {
  border-color: var(--font-color);
}

/* Languages and technologies */
.technologies, .languages {
  padding: 0 5%;
}

.fa-github {
  color: black;
}

.js {
  background-color: #d6b85a;
}

.ts {
  background-color: #fde992;
}

.php {
  background-color: plum;
}

.java {
  background-color: coral;
}

.py {
  background-color: #72a0c1;
}

.special {
  background-color: violet;
}

.other {
  background-color: rgb(212, 211, 211);
}

.cpp {
  background-color: #ff5733;
}

.db {
  background-color: aquamarine;
}

.badge {
  color: black;
  font-size: 1rem;
  margin: 10px;
}

/* Image carousel */
.carousel-caption {
  position: relative;
  left: auto;
  right: auto;
  font-size: 0.85rem;
  font-style: italic;
  margin: 10px;
}

.carousel-indicators {
  bottom: -20px;
}

.carousel-indicators .active {
  border-top: unset;
  border-bottom: unset;
  border: 1px solid transparent;
  border-left-width: 0;
  border-right-width: 0;
  border-radius: 10px;
  height: 8px;
  width: 50px;
}

.item {
  position: relative;
  height: 350px;
}

.item img {
  position: relative;
  height: 80%;
  width: auto;
  margin: auto;
  border-radius: 1%;
}

/* =========
   BLOG PAGE 
   =========*/
.outer-temp {
  display: table;
  position: relative;
  top: 0;
  left: 0;
  height: 80vh;
  width: 100%;
}

.temp-div {
  display: table-cell;
  vertical-align: middle;
  height: 100vh;
}

.temp-div div {
  margin-left: auto;
  margin-right: auto;
}

/* ======
   PHONES
   ======*/
@media(max-width:900px) {

  /* Navbar */
  .navbar {
    padding-bottom: 15px;
  }

  .mode-icon {
    margin-left: 10px;
    margin-top: 5px;
  }

  .mode-text-container {
    visibility: hidden;
  }

  /* Clouds and mountains (home) */
  .mountain {
    position: relative;
    width: 100%;
    height: 100%;
    border-style: solid;
  }

  .cloud {
    position: relative;
  }

  .top-cloud {
    right: 90px;
    margin-top: 30px;
  }

  .bottom-cloud {
    left: 90px;
    top: 0;
  }

  /* Home page skills */
  .left-img, .right-img {
    width: 100%;
    height: 200%;
  }

  .skill-row {
    width: 80%;
    margin-bottom: 0;
  }

  .contact-message {
    width: 80%;
  }

  /* Projects */
  .project {
    padding: 3%;
  }

  .badge {
    font-size: 0.9rem;
  }

  /* Image carousel */
  .carousel {
    margin-bottom: 50px;
  }

  .carousel-caption {
    font-size: 0.7rem;
    bottom: 10px;
    margin-top: 0;
  }

  .carousel-indicators {
    bottom: -55px;
  }

  .other-proj .section-title, .other-proj .sub-title {
    font-size: 1rem;
  }

  .badge {
    font-size: 0.7rem;
  }

  .item {
    height: 250px;
  }

  .item img {
    height: 80%;
  }
}

/* ========
   DESKTOPS
   ========*/
@media (min-width:1000px) {
  .intro {
    width: 40%;
  }
}